.navbar {
    background: linear-gradient(90deg,
      rgba(60, 60, 60, 0.3),
      rgba(23, 23, 23, 0.3));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* soft edge line */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* subtle drop shadow */
  }
  
  .navbar .nav-link, .navbar-brand { color: white !important; } /* This is for the color of header text*/


.logo {
height: 70px;          /* adjust to fit your navbar height */
width: auto;            /* keeps proportions */
border-radius: 8px;     /* optional: rounded edges */
}

/* Optional: center or vertically align if needed */
.navbar-brand img {
vertical-align: middle;
}