
:host {
    display: block;
    height: 100%; /* fill .col-right */
  }

.layout {
    /* border: 2px solid rgba(255, 0, 208, 0.756);  */
    display: flex;  
    width: min(100%, 1800px);
    flex-direction: column;
    height: 100%;
    border-radius: 12px; /* optional */
  }

.top,
.bottom {
    min-height: 0;  /* IMPORTANT: lets flexbox shrink them */
}

.top {
    flex: 2; /* takes 50% if bottom also flex:1 */
    border: 4px solid rgb(55, 255, 0);
}
  
.bottom {
    flex: 1;
    border: 4px solid rgba(255, 0, 0, 0.86);
}