
:host {
    display: block;
    height: 100%;   /* fill .top */
}


.carousel{
    /* margin: 100px auto; */
    height: 100%;
    width: 100%;
    border: 5px solid red;
    display: flex;
    overflow-x: auto;
    gap: 1em;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.carousel img {
    /* border-radius: 30px; */
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    filter: contrast(1.05) brightness(1.05);
}

.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 35s infinite linear;
}

.cpt-court-img{
    flex: 0 0 10em;
    /* width: 33%; */
    height: 100%;
}

.cpt-dales-img{
    flex: 0 0 10em;
    /* width: 60%; */
    height: 100%;
}

.card{
    flex: 0 0 10em;
    height: 10em;
    /* padding: 1em; */
    background-color: cornflowerblue;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}


@keyframes spin{
    from {translate: 0;}
    to {translate: -100%;}
}