

.carousel{
    margin: 100px auto;
    width: 90%;
    border: 5px solid red;
    display: flex;
}

.card{
    height: 5em;
    padding: 1em;
    background-color: cornflowerblue;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}