
:host {
    display: block;
    height: 100%;   /* fill .top */
}


.carousel{
    /* margin: 100px auto; */
    height: 100%;
    width: 100%;
    border: 5px solid red;
    display: flex;
    overflow-x: auto;
    gap: 1em;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 10s infinite linear;
}

.card{
    flex: 0 0 5em;
    height: 5em;
    /* padding: 1em; */
    background-color: cornflowerblue;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}


@keyframes spin{
    from {translate: 0;}
    to {translate: -100%;}
}