* {
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
}

.intro-text {
    /* background: rgba(0, 0, 0, 0.4); subtle black overlay */
    padding: 2rem;
    border-radius: 12px;
    width: 60%;
    height: 20vh;           /* 20% of the screen height */
    
    display: flex;
    align-items: center;     /* vertically center */
    justify-content: center; /* horizontally center */
    text-align: center;      /* center the text itself */
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;

    background: linear-gradient(90deg,
      rgba(60, 60, 60, 0.3),
      rgba(23, 23, 23, 0.3));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(5px);
  
    border-radius: 1.5rem; /* smoother curve */
    border: 2px solid rgba(255, 255, 255, 0.3); /* white outline with transparency */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
    
.intro-text p {
    font-size: 1.25rem;      /* bigger text */
    line-height: 1.6;
    margin: 0;               /* remove spacing around p */
    max-width: 80%;          /* keeps text readable, prevents stretching */
}
      